<ion-content class="ion-padding">
  <div class="col6 logo">
    <img src="/assets/logo.png" alt="logo" />
  </div>
  <div class="title">
    LUPA PASSWORD
  </div>
  <form #form="ngForm" (ngSubmit)="lupa(form)" method="post">
    <ion-item>
      <ion-label position="floating">Email/No Handphone</ion-label>
      <ion-input ngModel type="email" name="email"></ion-input>
    </ion-item>
    <p>&nbsp;</p>
  
    <ion-button type="submit" size="large" expand="full" class="btn-primary">Reset</ion-button>
  </form>
</ion-content>