<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tab5">
      <ion-icon name="easel"></ion-icon>
      <ion-label>Perhub</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab1">
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="tab2">
      <ion-icon name="basket-sharp"></ion-icon>
      <ion-label>Keranjang</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="cart-sharp"></ion-icon>
      <ion-label>Pesanan</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="tab4">
      <ion-icon name="person-circle-sharp"></ion-icon>
      <ion-label>Akunku</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
