ion-header{
  padding: 12px;
}
.row.search{
  border-radius: 20px;
  padding: 6px 12px;
  background:#ecf0f1;
  align-items: center;
  justify-content: end;
}
.search input{
  width: 100%;
  border: none;
  padding: 4px;
  background:#ecf0f1;
}
.search input:focus{
  outline: none;
}
.row.top .col2{
  font-size: 140%;
  color: #3498db;
  text-align: center;
  align-items: center;
  justify-content: end;
}
.row.top .col2 img{
  height: 36px;
}

.kategori{
  margin-top: 20px;
  padding: 10px;
  justify-content: start;
  align-items: flex-start;
}
.kategori .col4{
  padding: 8px;
  text-align: center;
  
}
.kategori .col4 .foto{
  height: 80px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  overflow: hidden;
}
.kategori .col4 .cat-title{
  margin-top: 10px;
  font-weight: bold;
  font-size: 70%;
}

.newproduct{
  padding: 10px;
  margin-top: 20px;
  font-size: 90%;
}
.newproduct .col6{
  padding: 10px;
  position: relative;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}
.newproduct .img{
  background-size: cover;
  background-position: center center;
  border-radius: 8px;
  height: 30vw;
  width: 100%;
}
.newproduct .title{
  font-family: "appblack";
  color: #2c3e50;
}
.newproduct .title .line{
  border-bottom: 3px solid #2c3e50;
  width: 20%;
  margin: 10px auto;
}
.newproduct .prod-title{
  margin-top: 5px;
  font-size: 90%;
  flex-grow: 1;
  align-items: flex-start;
}
.newproduct .prod-harga{
  color: #2c3e50;
  font-weight: 500;
}
.newproduct .prod-po{
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 8px;
  border-radius: 8px;
  background: #2c3e50;
  color: #fff;
  font-weight: bold;
  font-size: 60%;
}
.newproduct .prod-nilai{
  text-align: right;
  color: #2c3e50;
  align-items: center;
}

.chatbtn{
  position: relative;
  text-align: right;
  width: 100%;
}
.chatbtn .chaticon{
  font-size: 160%;
  color: #2c3e50;
}
.chatbtn .notif{
  position: absolute;
  top: -5px;
  right: 17px;
  padding: 3px 5px;
  background: #c0392b;
  color: #fff;
  border-radius: 5px;
  font-size: 70%;
  font-weight: bold;
}
.chatbtn:focus{
  outline: none;
}

.slider{
  padding-bottom: 16px;
  padding-top: 6px;
}
.slider ion-slide{
  padding: 0 10px;
}
.slider .img{
  border-radius: 6px;
  width: 98%;
  box-shadow: 0px 0px 5px #bdc3c7;
}
.slider .swiper-pagination{
    bottom: -1px;
    text-align: left;
    padding-left: 20px;
}
.sliderfoto .swiper-pagination .swiper-pagination-bullet,
.slider .swiper-pagination .swiper-pagination-bullet{
    margin: 0 1px;
    background: #000;
}
.sliderfoto .swiper-pagination .swiper-pagination-bullet-active,
.slider .swiper-pagination .swiper-pagination-bullet-active{
    background: #3498db;
    padding-left: 20px;
    border-radius: 20px;
}